---
layout: layouts/base.njk
---
Hello, and welcome to my corner of the internet! My name is Joe Diodato. I'm a special education teacher, unionist, and tech enthusiast. I created this blog to share my thoughts on education and union work around the NYC DOE and neat things that I learn about. When not working, I enjoy reading, playing video games, making music, and tinkering with technology.

Folks who come across my site are generally interested in my posts about substitute teaching and my experience as a Partner Teacher in the NYC Teaching Collaborative. 

🚧 Please pardon some of the digital dust around my site as I continue to get things up and running on this new platform and domain.

{{ content | safe }}
